<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Bienvenidx a lxs heroes de Digital House </h1>

    <h2>Elige a quién deseas conocer:</h2>
    <h3>Charles Babbage</h3>
    <a href="/babbage">Charles Babbage</a>
    <h3>Tim Berners-Lee</h3>
    <a href="/berners-lee">Tim Berners-Lee</a>
    <h3>Arthur C. Clarke</h3>
    <a href="/clarke">Arthur C. Clarke</a>
    <h3>Margaret Hamilton</h3>
    <a href="/hamilton">Margaret Hamilton</a>
    <h3>Grace Hopper</h3>
    <a href="/hopper">Grace Hopper</a>
    <h3>Ada Lovelace</h3>
    <a href="/lovelace">Ada Lovelace</a>
    <h3>Alan Turing</h3>
    <a href="/turing">Alan Turing</a>
</body>
</html>